{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center shadow-sm">
                <div class="card-body bg-light">
                    {% if profile and profile.profile_picture %}
                        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
                    {% else %}
                        <img src="https://via.placeholder.com/150" alt="Default Profile Picture" class="img-fluid rounded-circle mb-3">
                    {% endif %}
                    <h4 class="text-primary">{{ user.username }}</h4>
                    <p class="text-muted">{{ user.email }}</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body bg-light">
                    <h4 class="text-secondary">Profile Details</h4>
                    <hr>
                    <p><strong>First Name:</strong> {{ user.first_name }}</p>
                    <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Date Joined:</strong> {{ user.date_joined|date:"M d, Y" }}</p>
                    <p><strong>Last Login:</strong> {{ user.last_login|date:"M d, Y H:i" }}</p>
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'bike_buy_and_sell:update_profile' %}" class="btn btn-primary">Update Profile</a>
                        <a href="{% url 'bike_buy_and_sell:change_password' %}" class="btn btn-secondary">Change Password</a>
                        <a href="{% url 'bike_buy_and_sell:booking_list' %}" class="btn btn-info">Order History</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
